<p> Uploaded CSV Contains </p>
<table>
    <tr>
        <th>Size</th>
        <th> PPR</th>
        <th> Quality </th>
        <th> Mills </th>
        <th> Reem Wt</th>
        <th> Reem Qty</th>
        <th> Bundle Qty</th>
        <th> Wgth(Kgs)</th>
    </tr>


    <tr *ngFor="let item of items">
        <td>{{item.payload.doc.data().size}}</td>
        <td>{{item.payload.doc.data().gsm}}</td>
        <td>{{item.payload.doc.data().quality}}</td>
        <td>{{item.payload.doc.data().mills}}</td>
        <td>{{item.payload.doc.data().reemwt}}</td>
        <td>{{item.payload.doc.data().reemqty}}</td>
        <td>{{item.payload.doc.data().bundleqty}}</td>
        <td>{{item.payload.doc.data().wght}}</td>
    </tr>
</table>

<br>
<br>

