table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th{
    font-size: large;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  p{
    text-align: center;
    font-size: 200%;
    font-style: italic;
  }

.bttn{
  text-align: center;
}